<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DigiBank</title>
    <link rel="stylesheet" href="../static/styles/user-profile.css" />
    <link rel="stylesheet" href="../static/styles/app.css" />
  </head>
  <body>
    {% include "navbar.html" %} {% block content %} {% endblock %}

    <script src="../static/scripts/app.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="../static/scripts/user-profile.js"></script>
  </body>
</html>
