<!-- navbar.html -->
<nav>
  <img src="../static/images/logo.png" alt="Logo" class="logo" />
  <div class="action">
    <div class="profile">
      <img src="../static/images/profile.png" alt="" />
    </div>
    <div class="menu">
      <h3 class="user__name"></h3>
      <ul>
        <li>
          <img src="../static/images/question.png" /><a href="/app">My App</a>
        </li>
        <li>
          <img src="../static/images/user.png" /><a href="/user">Services</a>
        </li>
        <li>
          <img src="../static/images/settings.png" /><a href="#">Settings</a>
        </li>
        <li>
          <img src="../static/images/log-out.png" /><a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
