{% extends "base.html" %}
{% block content %}
<div class="test">
    <div class="sidebar">
      <div class="profile-image-container">
        <img
          src="../static/images/profile.png"
          alt=""
          class="profile-image"
        />
      </div>
      <div class="navigation">
          <ul>
              <li>
                  <a href="#" class="sidebar-button" id="btnAccount">
                      <span class="icon">
                          <ion-icon name="person-circle-outline"></ion-icon></span
                        ><span class="title">Account</span>
                  </a>
              </li>
              <li>
                  <a href="#" class="sidebar-button" id="btnSettings">
                      <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span
                      ></span
                      ><span class="title">Bank Statement</span></a>
              </li>
             
          </ul>
      </div>
 
    </div>

    <div class="main-content">
      <form id="accountForm" class="form2">
        <h2>Account Information</h2>
        <p id="textError" class="flash_text" style="display: none"></p>
        <input class="inp" type="text" name="username" placeholder="Username" />
        <input class="inp" type="email" name="email" placeholder="Email" />
        <input class="inp" type="password" id="oldPassword" name="old_password" placeholder="Old password" />
        <input class="inp" type="password" id="newPassword" name="new_password" placeholder="New password" />
        <div class="file-upload-container">
          <label for="profileImage" class="file-label">Upload Image</label>
          <input class="inp" type="file" id="profileImage" name="profile_image" class="file-input" accept="image/*"/>
        </div>
        <div class="divto">
          <button class="update-button">Update</button>
          <button class="cancel-button">Cancel</button>
        </div>
      </form>

      <div id="settingsForm" class="form3" style="display: none">
        <h2>Download Bank Statement</h2>
        <form id="dateForm">
          <div class="all_dates">
            <div class="class form-group">
              <label class="date-label" for="startDate">Start Date:</label>
              <input type="date" id="startDate" name="startDate" required />
            </div>
  
            <div class="form-group">
              <label class="date-label" for="endDate">End Date:</label>
              <input type="date" id="endDate" name="endDate" required />
            </div>
          </div>
  
          <button type="button" id="checkButton">Check</button>
          <button type="button" id="downloadButton" style="display: none">
            Download PDF
          </button>
        </form>
        
      </div>
    </div>
  </div>
  {% endblock %}