/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  height: 5.25rem;
} */

.test {
  display: flex;
}
.sidebar {
  background-color: #617c83;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* Keep sidebar fixed on the side */
  width: 300px;
  height: 100vh;
  margin-top: 50px;
  padding-left: 0;
  position: relative;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.sidebar ul li {
  list-style: none; /* This removes the marker for list items in the sidebar */
}
.profile-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.profile-image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover; /* Ensure the image covers the area properly */
}

.main-content {
  flex-grow: 1;

  padding-top: 20px;
  padding-right: 20px;
  margin-top: 40px;
}

.navigation {
  width: 300px;

  overflow: hidden;
  transition: 0.5s;
  border-left: 10px solid #617c83;
}

.navigation ul {
  position: absolute;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover {
  background: #f3f3f3;
}
/* .navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
} */

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #f3f3f3;
}

.navigation ul li:hover a {
  color: #617c83;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 2.3em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 57px;
  text-align: start;
  white-space: nowrap;
  font-size: 1.77rem;
}

/* curve outside */

.navigation ul li:hover a::before {
  content: "";
  position: absolute;
  right: 10px;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #f3f3f3;
  pointer-events: none;
}

.navigation ul li:hover a::after {
  content: "";
  position: absolute;
  right: 10px;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #f3f3f3;
  pointer-events: none;
}

.form2 {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 20px;
  background-color: #617c8321;
  text-align: center; /* Center align the text and inline elements */
  width: 50%;
  margin-top: 130px;
}

.inp {
  width: 70%; /* Adjust width as necessary, 90% of the parent size */
  padding: 10px;
  margin: 10px auto; /* Center the inputs horizontally */
  display: block; /* Input elements are block to fill width */
  border: 1px solid #ccc;
  border-radius: 14px;
}

.file-upload-container {
  padding-top: 10px;
  margin-bottom: 20px;
}

.file-label {
  margin-right: 10px;
}

.file-input {
  background-color: #fff;
}

.update-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  margin-bottom: 10px;
}

.update-button {
  background-color: #2ecc71;
  color: white;
}

.cancel-button {
  background-color: #d7dfe4;
  /* Reset any text color if needed */
}

.divto {
  text-align: center; /* Center the buttons container */
}

.flash_text {
  color: red;
  font-size: medium;
}
